
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<form action="/Default/AboutUS" method="post">
    <div class="Block">
        <p>
            <label> Name</label>
            <input type="text" name="Name" />
        </p>
        <br />
        <p>
            <label> Message</label>
            <textarea name="Name" />
        </p>
    </div>
    <input type="submit" value="Send" />
</form>

