@model IEnumerable<Cars.Models.Entities.Car>

@{
    ViewBag.Title = "List Car";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="Block">
    @foreach (var item in Model)
    {
        <p>@item.Name    @item.Model  @item.Age <a href="~/Default/EditCar/@item.Id">Edit</a> |  <a href="~/Default/DeleteCar/@item.Id">Delete</a> </p>
    }
    <a href="~/Default/AddCar">Add New Car</a>
</div>

