@model IEnumerable<Cars.Models.Entities.Car>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<article data-maxcount="94" class="col-12 col-sm-6 col-lg-3 mb-4">
    <div class="ad-item h-100 p-3">
        <div class="col-6 col-sm-12 p-0">

            <div class="ad-item-wrapper">
                <a href="/اگهی-ها/سازان-سنگ-سالار">
                    <img class="img-fluid lazyload rounded" src="/getattachment/972fa6ef-81e7-4300-a697-c34b1a37a8cc/سازان-سنگ-سالار?height=350" data-src="/getattachment/972fa6ef-81e7-4300-a697-c34b1a37a8cc/سازان-سنگ-سالار?height=350">
                </a>
            </div>


        </div>
        <div class="col-6 col-sm-12 p-0">
            <div class="d-flex flex-column justify-content-between pr-lg-0 pr-2 h-100">
                <div>
                    <div class="ad-item-body mt-lg-3 mt-sm-3 mt-0">
                        <a href="/اگهی-ها/سازان-سنگ-سالار"> <h3 class="text-site-secondary f-20">سازان سنگ سالار </h3> </a>
                        <span class="text-muted d-block"></span>
                        <span class="text-muted Location-name">تهران</span>
                    </div>
                    <div class="d-flex rating-stars my-2 block-w-100">
                        <div class="rating cms-bootstrap ml-3">
                            <div class="CntRatingContent row mr-0"><span class="rating-star far order-1 fa-star default-score w-20"></span><span class="rating-star far order-2 fa-star default-score w-20"></span><span class="rating-star far order-3 fa-star default-score w-20"></span><span class="rating-star far order-4 fa-star default-score w-20"></span><span class="rating-star far order-5 fa-star default-score w-20"></span></div>
                        </div>
                    </div>
                    <div class="justify-space-between">
                        <p class="Dissatisfied">کاملا ناراضی</p>
                        <p class="Satisfied">کاملا راضی</p>
                    </div>
                </div>
                <div class="ad-item-footer mt-2">



                    <div class=" d-flex flex-row justify-content-center align-items-center">



                        <div class="border ad-item-icon-parent">
                            <a id="p_lt_ctl05_pageplaceholder_p_lt_ctl03_RepeaterWithCustomQuery_repItems_ctl00_ctl00_AddToWishList_LinkButton1" class="notInWishList wish-list-btn" href="javascript:__doPostBack('p$lt$ctl05$pageplaceholder$p$lt$ctl03$RepeaterWithCustomQuery$repItems$ctl00$ctl00$AddToWishList$LinkButton1','')">

                                <svg class="active" width="26" height="23" data-toggle="tooltip" data-placement="top" title="" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg" data-original-title="افزودن به علاقه مندی ها">
                                    <path d="M12.1621 21.3831C11.8208 21.3833 11.491 21.2593 11.2343 21.0344C10.2645 20.1868 9.33021 19.3905 8.50591 18.6874C6.37259 16.9857 4.37998 15.1147 2.54749 13.0926C1.06639 11.4978 0.218536 9.41716 0.163185 7.24142C0.131257 5.3554 0.811109 3.52659 2.06727 2.11941C2.67701 1.45506 3.41921 0.925866 4.24601 0.565947C5.07281 0.206029 5.96586 0.0233755 6.86758 0.029764C8.23619 0.0248061 9.56585 0.485124 10.6385 1.33521C11.2194 1.78814 11.7325 2.32196 12.1621 2.92039C12.5911 2.3221 13.1036 1.78829 13.6839 1.33521C14.7572 0.484525 16.088 0.0241709 17.4575 0.029764C18.3593 0.0233755 19.2523 0.206029 20.0791 0.565947C20.9059 0.925866 21.6481 1.45506 22.2578 2.11941C23.5139 3.52697 24.1934 5.35613 24.161 7.24235C24.1048 9.41426 23.2587 11.4912 21.7814 13.0842C19.9492 15.1063 17.9569 16.9773 15.8239 18.679C14.9977 19.383 14.0615 20.1802 13.0899 21.0306C12.8337 21.2569 12.5039 21.3821 12.1621 21.3831ZM6.86758 1.43592C6.16018 1.43039 5.45947 1.57315 4.81062 1.85502C4.16178 2.13688 3.5792 2.55158 3.10044 3.07238C2.08409 4.22021 1.53713 5.70861 1.5684 7.24142C1.62247 9.08799 2.35475 10.85 3.62541 12.1909C5.40796 14.1483 7.34332 15.9608 9.4132 17.6113C10.2412 18.3172 11.1793 19.1163 12.1556 19.9704C13.1384 19.1144 14.0774 18.3135 14.9073 17.6076C16.9768 15.9573 18.9118 14.1451 20.6941 12.1881C21.9647 10.8471 22.697 9.08517 22.7511 7.23862C22.7829 5.70562 22.2363 4.21686 21.22 3.06865C20.7413 2.5478 20.1587 2.13307 19.5099 1.85121C18.861 1.56934 18.1603 1.4266 17.4529 1.43219C16.3963 1.42861 15.3699 1.78402 14.5417 2.44018C13.8922 2.96238 13.3439 3.5992 12.9239 4.31908C12.8452 4.45103 12.7335 4.56028 12.5999 4.63614C12.4663 4.712 12.3153 4.75189 12.1616 4.75189C12.008 4.75189 11.857 4.712 11.7233 4.63614C11.5897 4.56028 11.4781 4.45103 11.3993 4.31908C10.9779 3.5994 10.428 2.96318 9.77686 2.44204C8.94898 1.78696 7.92328 1.43224 6.86758 1.43592Z" fill="#5694E3"></path>
                                </svg>

                                <svg class="no-active" width="26" height="23" viewBox="0 0 24 24" data-toggle="tooltip" data-placement="top" title="" fill="none" xmlns="http://www.w3.org/2000/svg" data-original-title="حذف از علاقه مندی ها">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9997 2.05314C18.6567 -5.07498 35.3007 7.39846 11.9997 23.4375C-11.3013 7.40002 5.34267 -5.07498 11.9997 2.05314Z" fill="#5694E3"></path>
                                </svg>

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</article>

